<mat-drawer-container class="container">


<mat-drawer mode="side" opened>
  <mat-list>
    <mat-list-item *ngFor="let otdel of otdels"  [ngClass]="{'selectOtdel':otdel === selectOtdel}" (click)="selectedOtdel(otdel)">

      {{otdel.name}}

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-drawer>
  <mat-drawer-content>
    <mat-accordion>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сотрудники в отделе ({{countUsers}})
          </mat-panel-title>

        </mat-expansion-panel-header>
        <button mat-button (click)="addUser()">Добавить</button>
          <app-user-table [otdel]="selectOtdel"></app-user-table>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Оборудование в отделе ({{countEquipment}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button (click)="addEquipment()">Добавить</button>
        <app-equipment-table></app-equipment-table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer-content>
</mat-drawer-container>
