<mat-form-field>
  <mat-label>Укажите лицензию</mat-label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (ngModelChange)="Change.emit(myControl.value)" />
  <button *ngIf="myControl.value !=='' && myControl.value"  matSuffix mat-icon-button style="color: darkgrey" aria-label="Clear" (click)="myControl.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"   panelWidth="max-width:1000px">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"  class="name">
      {{option.program.name}}  {{option.name}} {{option.date_start}} - {{option.date_finish}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

